.all, .asc, .desc {
  position: relative;
  cursor: pointer;
}
.all:before, .all:after, .asc:after, .desc:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='strelka-top-3' viewBox='0 0 5 9'%3E%3Cpath d='M0.419,9.000 L0.003,8.606 L4.164,4.500 L0.003,0.394 L0.419,0.000 L4.997,4.500 L0.419,9.000 Z' %3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.all:before, .desc:before {
  top: 10px;
  transform: rotate(-90deg);
}
.all:after, .asc:after {
  bottom: 10px;
  transform: rotate(90deg);
}

.table .asc, .table .desc {
  background: #e8e8e8;
}
